.wrapper {
    width: 850px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box {
    width: 400px;
    height: 800px;
    border: 2px solid rgb(129, 38, 38);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column {
    width: 100%;
    height: 140px;
    border: 1px solid rgb(65, 60, 60);
    background-color: rgb(77, 17, 65);
}